:local(.container) {
   background-color: #ededed;
   margin: 1rem;
 }
 :local(.content) {
   font-size: 15px;
   text-align: center;
 }
 :local(.deleteItem) {
   display: inline-block;
 }
 ul {
  list-style-type: none;
}
